In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
spam_filter = pd.read_csv('spambase/spambase.data')

In [3]:
spam_filter.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0,0,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0,0,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0,0.000,0.000,0.000,3.000,15,54,1

In [4]:
spam_filter = pd.read_csv('spambase/spambase.data', header = None)

In [5]:
spam_filter.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1

In [6]:
#The last column (57) says whether it's spam or not
input_data = spam_filter.iloc[:, :57]

output_data = spam_filter.iloc[:, 57:]

In [7]:
input_data.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191

In [8]:
output_data.head()

   57
0   1
1   1
2   1
3   1
4   1

In [11]:
input_training_data, input_testing_data, output_training_data, output_testing_data = train_test_split(input_data, output_data, train_size=0.6, test_size=0.4)

In [19]:
input_testing_data.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
2552,0.87,0.43,0.00,0,0.00,0,0.00,0,0,0.43,...,0,0.000,0.190,0,0.000,0,0.000,2.085,25,73
273,0.00,0.00,0.00,0,6.25,0,3.12,0,0,0.00,...,0,0.000,0.000,0,0.000,0,0.000,9.428,60,66
4435,0.00,0.00,0.59,0,0.00,0,0.00,0,0,0.29,...,0,0.039,0.235,0,0.471,0,0.039,3.659,70,333
438,0.00,0.00,0.00,0,1.31,0,0.00,0,0,0.00,...,0,0.000,0.251,0,1.007,0,0.000,1.440,8,36
2796,0.00,0.00,0.00,0,0.00,0,0.00,0,0,0.00,...,0,0.000,0.202,0,0.000,0,0.000,2.000,11,82

In [12]:
multinomial_naive_bayes = MultinomialNB()

In [13]:
multinomial_naive_bayes.fit(input_training_data, output_training_data)

/Users/willflowers/Documents/The_Iron_Yard/python-assignments/spambase/.direnv/python-3.4.3/lib/python3.4/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
multinomial_naive_bayes.predict(input_testing_data)

array([0, 1, 1, ..., 0, 1, 0])

In [15]:
multinomial_naive_bayes.score(input_training_data, output_training_data)

0.80036231884057973

In [16]:
multinomial_naive_bayes.score(input_testing_data, output_testing_data)

0.7897881586094514

In [20]:
#Pretty close: Both almost 80% correct